<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h3>Create a New Listing</h3>
            <form method="POST"  action="/listings" class=".needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <lable for="title" class="form-label">Title</lable>
                    <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required/>
                </div>
                <div class="mb-3">
                    <lable for="description" class="form-label">Description</lable>
                    <textarea name="listing[description]" placeholder="enter description" class="form-control" required></textarea>
                </div>
                
                <div class="mb-3">
                    <lable for="image" class="form-label">Upload Image</lable>
                    <input name="listing[image]" type="file" class="form-control" required/>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <lable for="price" class="form-label">Price</lable>
                        <input name="listing[price]" placeholder="enter price" type="number" class="form-control" required/>
                    </div>
                    <div class="mb-3 col-md-4">
                        <lable for="country" class="form-label">Country</lable>
                        <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required/>
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="category" class="form-label">Category</label>
                        <select name="listing[category]" id="category" class="form-control" required>
                            <option value="Rooms">Rooms</option>
                            <option value="Iconic Cities">Iconic Cities</option>
                            <option value="Mountains">Mountains</option>
                            <option value="Castles">Castles</option>
                            <option value="Pools">Pools</option>
                            <option value="Camping">Camping</option>
                            <option value="Farms">Farms</option>
                            <option value="Arctic">Arctic</option>
                            <option value="Domes">Domes</option>
                            <option value="Boats">Boats</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <lable for="location" class="form-label">Location</lable>
                    <input name="listing[location]" placeholder="enter location" type="text" class="form-control" required/>
                </div>
                <button class="btn btn-dark add-btn">Add</button>
            </form>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>